<% if flash.alert.present? %>
  <div id="error_explanation">
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p><strong>Your bet contained <%= pluralize(flash.alert.keys.count, 'error') %>.</strong></p>
      <ul>
        <% flash.alert.each do |key, msg| %>
          <li><strong><%= key %></strong>: <%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<%= form_tag my_bets_path :method => :post do %>
  <% @rows.each do |match, bet| %>
    <div class="card text-center mb-3">
      <div class="card-header">
        <%= match %>
        <% if match.ended? %>
          <small class="text-muted">
            <%= match.home_score %>-<%= match.away_score %>
          </small>
          <span class="badge badge-primary">
            <%= bet&.points || 0 %>
            <span>
            <% end %>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col">
            <input
               name="bets[<%= match.id %>][home_score]"
               class="form-control" 
               type="number" 
               value="<%= bet&.home_score || 0 %>" 
               min="0" 
               max="9"
               pattern="\d*"
               <%= match.started? ? "disabled" : "" %>>
          </div>
          <div class="col">
            <input 
               name="bets[<%= match.id %>][away_score]"
               class="form-control" 
               type="number" 
               value="<%= bet&.away_score || 0%>" 
               min="0" 
               max="9"
               pattern="\d*"
               <%= match.started? ? "disabled" : "" %>>
          </div>
        </div>
        <p class="card-text">
        <small class="text-muted">
          <mark><%= match.stage %></mark>
          <%= l(match.time, format: :match) %>
        </small>
        </p>
      </div>
    </div>
  <% end %>
  <div class="invisible">
    <div class="navbar">
      <span class="navbar-text" />
    </div>
  </div>
  <div class="navbar navbar-light bg-light fixed-bottom">
    <span class="navbar-text">
      <%= t('.save_warning_notice') %>            
    </span>
    <input type="submit" value="Guardar" class="btn btn-primary">
  </div>
<% end %>
