<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to(t('navigation.root'), root_path) %></li>
    <% if @stage.present? %>
      <li class="breadcrumb-item"><%= link_to(t('navigation.my_bets'), my_bets_path) %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @stage.name %></li>
    <% else %>
      <li class="breadcrumb-item active" aria-current="page"><%= t('navigation.my_bets') %></li>
    <% end %>
  </ol>
</nav>
<% if flash.notice.present? %>
  <div class="alert alert-success">
    <%= flash.notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if flash.alert.present? %>
  <div id="error_explanation">
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p><strong>Your bet contained <%= pluralize(flash.alert.keys.count, 'error') %>.</strong></p>
      <ul>
        <% flash.alert.each do |key, msg| %>
          <li><strong><%= key %></strong>: <%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<% if @rows.empty? %>
  <div class="alert alert-primary" role="alert">
    <%= t('.empty_notice') %> 
  </div>
<% else %>
  <%= form_tag my_bets_path(stage: params[:stage]), :method => :post do %>
    <% @rows.each do |match, bet| %>
      <div class="card text-center mb-3">
        <div class="card-header">
          <%= match %>
          <% if match.ended? %>
            <small class="text-muted">
              <%= match.home_score %>-<%= match.away_score %>
            </small>
            <span class="badge badge-primary">
              <%= bet&.points || 0 %>
              <span>
              <% end %>
        </div>
        <div class="card-body">
          <div class="row justify-content-center mb-3">
            <div class="col-auto">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <% if match.home_team.flag.present? %>
                      <%= image_tag match.home_team.flag, class: 'rounded', height: 20 %>
                    <% else %>
                      <%= match.home_team.name %>
                    <% end %>
                  </span>
                </div>
                <input
                  name="bets[<%= match.id %>][home_score]"
                  class="form-control <%= match.stage.stage_type == "knockout_stage" ? "tie-input" : "" %>" 
                  type="number" 
                  value="<%= bet&.home_score || 0 %>" 
                  min="0" 
                  max="9"
                  pattern="\d*"
                  <%= match.is_bettable? ? "" :  "disabled" %>>
              </div>
            </div>
            <div class="col-auto">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <% if match.away_team.flag.present? %>
                      <%= image_tag match.away_team.flag, class: 'rounded', height: 20 %>
                    <% else %>
                      <%= match.away_team.name %>
                    <% end %>
                  </span>
                </div>
                <input 
                  name="bets[<%= match.id %>][away_score]"
                  class="form-control <%= match.stage.stage_type == "knockout_stage" ? "tie-input" : "" %>" 
                  type="number" 
                  value="<%= bet&.away_score || 0 %>" 
                  min="0" 
                  max="9"
                  pattern="\d*"
                  <%= match.is_bettable? ? "" :  "disabled" %>>
              </div>
            </div>
          </div>
          <% if match.stage.stage_type == "knockout_stage" %>
            <div class="collapse <%= (bet&.home_score || 0) == (bet&.away_score || 0) ? "show" : "" %>" name="bets[<%= match.id %>][advances]">
              <div class="row justify-content-center mb-3">
                <div class="col-auto">
                  <div class="form-inline">
                    <label class="my-1 mr-2">Avanza</label>
                    <select
                           name="bets[<%= match.id %>][winning_team]"
                           class="form-control">
                           <option value="<%= match.home_team.id %>"><%= match.home_team.name %></option>
                           <option value="<%= match.away_team.id %>" <%= bet&.winning_team == match.away_team ? "selected" : "" %>><%= match.away_team.name %></option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <ul class="list-unstyled mb-0">
            <li>
              <small class="text-muted">
                <mark><%= match.stage %></mark>
                <%= l(match.time, format: :match) %>
              </small>
            </li>
            <li>
              <small class="text-muted">
                <%= match.stadium %>
              </small>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="invisible">
      <div class="navbar">
        <span class="navbar-text" />
      </div>
    </div>
    <div class="navbar navbar-light bg-light fixed-bottom">
      <span class="navbar-text">
        <%= t('.save_warning_notice') %>            
      </span>
      <input type="submit" value="Guardar" class="btn btn-primary">
    </div>
  <% end %>
<% end %>
