<%= render 'flash_messages' %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to(t('navigation.root'), root_path) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t('navigation.ranking') %></li>
  </ol>
</nav>
<div class="jumbotron">
  <h3>
    <%= t('.your_score_is') %>
    <span class="badge badge-primary">
      <%= current_user.points %>
    </span>
  </h3>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"><%= t('.alias') %></th>
      <th scope="col"><%= t('.points') %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.alias %></th>
        <td><%= user.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>
