<% if @stage.matches.empty? %>
  <div class="alert alert-primary" role="alert">
    <%= t('.empty_notice') %> 
  </div>
<% end %>
<% @stage.matches.each do |match| %>
  <div class="card text-center mb-3">
    <div class="card-header">
      <%= match %>
    </div>
    <div class="card-body">
      <% if match.ended? %>
        <p class="card-text lead">
        <%= match.home_score %>-<%= match.away_score %>
        </p>
      <% end %>
      <p class="card-text">
      <small><%= match.stadium %></small>
      </p>
      <p class="card-text">
      <small class="text-muted">
        <mark><%= match.stage %></mark>
        <%= l(match.time, format: :match) %>
      </small>
      </p>
    </div>
  </div>
<% end %>
