<!DOCTYPE html>
<html>
  <head>
    <title>Penca</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <a class="navbar-brand" href="<%= root_path %>">
        <%= image_tag 'navbar-icon.png', width: 30, height: 30, class: 'd-inline-block align-top' %>
        <%= t('navigation.root') %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if current_user.present? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= t('navigation.my_bets') %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to(t('navigation.all_bets'), my_bets_path, class: 'dropdown-item') %>
                <div class="dropdown-divider"></div>
                <% Stage.group_stages.each do |stage| %>
                  <%= link_to(stage.name, my_bets_path(:stage => stage.id), class: 'dropdown-item') %>
                <% end %>
                <div class="dropdown-divider"></div>
                <% Stage.knockout_stages.each do |stage| %>
                  <%= link_to(stage.name, my_bets_path(:stage => stage.id), class: 'dropdown-item') %>
                <% end %>
              </div> 
            </li>
            <li class="nav-item">
              <%= link_to(t('navigation.ranking'), ranking_path, class: 'nav-link') %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to(t('navigation.rules'), rules_path, class: 'nav-link') %>
          </li>
        </ul>
        <ul class="navbar-nav">
          <% if current_user.present? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.alias %>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to(t('navigation.edit_profile'), edit_user_registration_path, class: 'dropdown-item') %>
                <div class="dropdown-divider"></div>
                <%= link_to(t('navigation.sign_out'), destroy_user_session_path, method: :delete, class: 'dropdown-item') %>
              </div> 
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to(t('navigation.sign_in'), new_user_session_path, class: 'nav-link') %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container mb-3">
      <%= yield %>
    </div>
  </body>
</html>
